<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Laser Cut Shop</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="img/laser.png">
		<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets1/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets1/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets1/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets1/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets1/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets1/css/meanmenu.min.css">
	
	<!-- main style -->
	<link rel="stylesheet" href="assets1/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets1/css/responsive.css">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="img/laser.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="/inicio">inicio</a></li>
								<li><a href="/nosotros">nosotros</a></li>
								<li><a href="/contactos">cantactenos</a></li>
								<li><a href="/productos">productos</a></li>
								<li><a href="/login">iniciar sesion</a>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	

	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">productos para tu hogar</p>
							<h1>exelentes muebles para ti</h1>
							<div class="hero-btns">
								<a href="/productos" class="boxed-btn"> Coleccion</a>
								<a href="/contactos" class="bordered-btn">Contactenos</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">nuestros</span> productos</h3>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="/productos"><img src="img/2.png" alt=""></a>
						</div>
						<h3>juegos de mesa</h3>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="/productos"><img src="img/5.png" alt=""></a>
						</div>
						<h3>figuras coleccionables</h3>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="/productos"><img src="img/8.png" alt=""></a>
						</div>
						<h3>muebles publicitarios</h3>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>30%</strong> <br> de descuento 
                                </span>
                            </div>
                        </div>
                    	<img src="assets/img/a.jpg" alt="">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="orange-text">descuento</span> del mes</h3>
                    <h4>figuras coleccionables </h4>
                    <!--Countdown Timer-->
                	<a href="cart.html" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end cart banner section -->

	
		<!-- footer -->
		<div class="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="footer-box about-widget">
							<h2 class="widget-title">LASER CUT SHOP</h2>
							<p>En Laser Cut Shop estamos dispuestos a cumplir con todas tus peticiones </p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box get-in-touch">
							<h2 class="widget-title">ESCRIBENOS </h2>
							<ul>
			
								<li>yadyjota7@gmail.com</li>
								<li>+57 301 540 3728</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box pages">
							<h2 class="widget-title">pagina</h2>
							<ul>
								<li><a href="/inicio">inicio</a></li>
								<li><a href="/nosotros">nosotros</a></li>
								<li><a href="/productos">productos</a></li>
								<li><a href="/contactenos">Contactenos</a></li>
							</ul>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	<!-- end footer -->

	
		<!-- copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<p>Copyrights &copy; 2022 - <a href="https://imransdesign.com/">juan carlos</a>,  All Rights Reserved.<br>
							Distributed By -  <a href="https://themewagon.com/">laser cut shop</a>
						</p>
					</div>
					<div class="col-lg-6 text-right col-md-12">
						<div class="social-icons">
							<ul>
								<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end copyright -->
	
	<!-- jquery -->
	<script src="assets1/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets1/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets1/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets1/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets1/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets1/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets1/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets1/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets1/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets1/js/main.js"></script>

</body>
</html>